<div class="header mx-4">
	<hello *ngIf="user.age >= 18; else under18" [name]=user.age></hello>
	<ng-template #under18>
		<div>
			<h1>You are too young</h1>
		</div>
	</ng-template>
	<!-- <div *ngIf="user.age < 18">You are too young</div> -->
	<button (click)="user.age = user.age-1 ">-</button>
	Version: {{user.age}}
	<button (click)="user.age = user.age+1">+</button>
</div>

<br><br>
<div class="card mx-4">
	<div class="card-header">
		You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
	</div>
	<div class="card-body">
		There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> was selected.
	</div>
	<div class="card-footer">
		You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
	</div>
</div>

<ng-template #counterTmpl>
	<span class="badge badge-primary">{{ counter }}</span> items
</ng-template>

<ul class="nav nav-tabs mx-4 my-4">
	<li class="nav-item" *ngFor="let item of navs">
		<a class="nav-link active" href="#">{{item}}</a>
	</li>
</ul>