<hello2 name200="{{ name1 }}"></hello2>
<tab-group [(activeIndex)]="currentIndex">
	<tab-panel title=" Tab 1">Tab 1 content</tab-panel>
	<tab-panel title=" Tab 2">Tab 2 content</tab-panel>
	<tab-panel title=" Tab 3">Tab 3 content</tab-panel>
	<tab-panel title=" Tab 4">Tab 4 content</tab-panel>
	<tab-panel title=" Tab 5">Tab 5 content</tab-panel>
</tab-group>
<tab-bs-group [(activeIndex)]="currentIndex" >
	<tab-panel title=" Tab 1">Tab 1 content</tab-panel>
	<tab-panel title=" Tab 2">Tab 2 content</tab-panel>
	<tab-panel title=" Tab 3">Tab 3 content</tab-panel>
	<tab-panel title=" Tab 4">Tab 4 content</tab-panel>
	<tab-panel title=" Tab 5">Tab 5 content</tab-panel>
</tab-bs-group>